@import "../../global.scss";

.contentDiv {
  display: flex;
  .left {
    flex: 0.5;
    .form {
      padding-left: 32px;
      padding-top: 18px;
      font-family: $helvetica;
      h1 {
        color: $shopifyGreen;
        font-size: 38px;
      }
      input {
        width: 50%;
        padding: 12px;
        margin: 12px 0;
        border: 1px solid $black;
        border-radius: 8px;
        cursor: pointer;
      }
      button {
        padding: 0.5rem 36px;
        width: 50%;
        font-size: 20px;
        border-radius: 8px;
        background-color: $shopifyBrightGreen;
        border: none;
        color: $white;
        cursor: pointer;
      }
      #checkboxDiv {
        margin-top: 12px;
        margin-left: 5px;
        display: flex;
        input {
          width: 18px;
          height: 18px;
        }
        span {
          color: $shopifyGrey;
          margin-left: 10px;
          margin-top: 11px;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    img {
      margin-top: 10px;
      margin-bottom: 15px;
      border: solid 8px $white;
      width: 350px;
      height: 330px;
      border-radius: 5%;
      margin-left: 275px;
      box-shadow: 10px 5px 12px $shopifyGrey;
    }
  }
}
