$black: black;
$shopifyGreen: #004c3f;
$shopifyYellow: #fbf7ed;
$shopifyGrey: #6b7177;
$shopifyBrightGreen: #008060;
$white: white;
$helvetica: "Helvetica";

#root {
  background-color: $shopifyYellow;
  height: 100vh;
}
